# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/motormate?schema=public"

# App
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
